<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Select module</title>

  <!-- Bootstrap core CSS -->
  <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Courgette|Pacifico|Zilla+Slab|Montserrat+Alternates&display=swap"
    rel="stylesheet">



  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    body{

background: url(https://images.unsplash.com/photo-1550645612-83f5d594b671?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);
background-size: cover;
}



    .back {
      background: white;
      border-radius: 5%;
    }



    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
  <!-- Custom styles for this template -->
  <link href="/stylesheets/signin.css" rel="stylesheet">
</head>

<body class="text-center">
  <form class="form-signin back" method="post" action="pay">
    <h1 class="title h3 mb-3 font-weight-normal">Paso 2: Módulo</h1>
    <p class="text">Por favor, selecciona el módulo a tomar.</p>
    <div class="mb-3">

      <div class="text-left options">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="module" id="exampleRadios1" value="Basic"
            checked>
          <label class="form-check-label" for="exampleRadios1">
            Basic
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="module" id="exampleRadios1" value="Intermediate">
          <label class="form-check-label" for="exampleRadios1">
            Intermediate
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="module" id="exampleRadios1" value="Advanced">
          <label class="form-check-label" for="exampleRadios1">
            Advanced
          </label>
        </div>
      </div>

    </div>
    <button class="btn btn-lg btn-success btn-block" type="submit">Continue</button>
    <p class="mt-5 mb-3 text-muted"></p>
  </form>
</body>

</html>